<div class="container-fluid pt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-9 ">
      <div class="seat_plan_wrap">
        <div class="row">
          <div class="col-md-6">
            <h6>Select Seats </h6>
            <div class="seats">
              <div class="handle">
                
              </div>
              <div class="row1">
                  <table border="0">
                      <tr>
                        <td>
                          <img src="../assets/images/handle.png" alt="">
                        </td>
                          <td>
                            <a (click)="Seat('A1')" id="A1" title="[A1]">
                                <img src="../assets/images/bseat.png" alt="">
                            </a>
                          </td>
                          <td>
                            <a  id="B1" title="[B1]">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[C1]"  id="C1">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[D1]"  id="D1">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[E1]"  id="E1">
                                <img src="../assets/images/bseat.png" alt="">
                            </a>
                          </td>
                          <td>
                            <a title="[F1]"  id="F1">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[G1]" (click)="Seat('G1')" id="G1">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[H1]" id="H1">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[I1]"  id="I1">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                      </tr>


                      <tr>
                        <td>

                        </td>
                          <td>
                            <a title="[A2]"  id="A2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[B2]"  id="B2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[C2]"  id="C2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[D2]"  id="D2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[E2]"  id="E2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[F2]"  id="F2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[G2]"  id="G2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[H2]"  id="H2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                          <td>
                            <a title="[I2]"  id="I2">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                          </td>
                      </tr>

                      <!--row 1 complete-->
                      <tr>
                        <td>

                        </td>
                        <td>
                            <a title="[A3]"  id="A3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[B3]"  id="B3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[C3]"  id="C3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[D3]"  id="D3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[E3]"  id="E3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[F3]"  id="F3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[G3]"  id="G3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[H3]"  id="H3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[I3]"  id="I3">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                      </tr>
                      <tr>
                        <td>

                        </td>
                        <td>
                            <a title="[A4]"  id="A4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[B4]"  id="B4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[C4]"  id="C4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[D4]"  id="D4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[E4]"  id="E4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[F4]"  id="F4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[G4]"  id="G4">
                                <img src="../assets/images/bseat.png" alt="">
          
                              </a>
                        </td>
                        <td>
                            <a title="[H4]"  id="H4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                        <td>
                            <a title="[I4]"  id="I4">
                                <img src="../assets/images/bseat.png" alt="">
                              </a>
                        </td>
                    </tr>
                  </table>
                
              </div>
              <div class="row1">
                <div class="row ">
                  <button (click)="confirmJourney()"class="btn mt-3 ml-3 btn-primary btn-sm btn-block ">Confirm</button>
                </div>

               
<!-- <script src="<script src=https://code.jquery.com/jquery-2.2.4.js" 
integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" 
crossorigin="anonymous"></script>"></script> -->

<!-- <div class="container-fluid pt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-9 ">
      <div class="seat_plan_wrap">
        <div class="row">
          <div class="col-md-6">
            <h6>Select Seats </h6>
            <div class="seats">
              
              <div class="row1">
                <table border="1" >
                    <tr>
                        <td colspan="6">
                            Driver Side
                        </td>
                    </tr>
                    <tr> -->
                        <!-- <div (click)="status=!status"
[ngClass]="status ? 'success' : 'danger'">
Some content
</div> -->
                        <!-- <td>
                            <button (click)="clickEvent()" id="A1"
                            [ngClass]="status ? 'success' : 'danger'">A1</button>
                            <button (click)="enableDisableRule1('A2')" id="A2"
                            [ngClass]="{'green' : toggle, 'red': !toggle}">A2</button>
                            <button>A3</button>
                            <button>A4</button>
                            <button>A5</button>
                            <button>A6</button>
                            <button>A7</button>
                            <button>A8</button>
                            <button>A9</button>
                            <button>A10</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                            <button>B1</button>
                            <button>B2</button>
                            <button>B3</button>
                            <button>B4</button>
                            <button>B5</button>
                            <button>B6</button>
                            <button>B7</button>
                            <button>B8</button>
                            <button>B9</button>
                            <button>B10</button>
                        </td>
                    </tr>
                    <br>
                    <br>
                    <tr>
                        <td>
                            
                            <button>C1</button>
                            <button>C2</button>
                            <button>C3</button>
                            <button>C4</button>
                            <button>C5</button>
                            <button>C6</button>
                            <button>C7</button>
                            <button>C8</button>
                            <button>C9</button>
                            <button>C10</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                            <button>D1</button>
                            <button>D2</button>
                            <button>D3</button>
                            <button>D4</button>
                            <button>D5</button>
                            <button>D6</button>
                            <button>D7</button>
                            <button>D8</button>
                            <button>D9</button>
                            <button>D10</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            Entry/Exit
                        </td>
                    </tr>
                </table>
                

              </div>
              <div class="row1">
                  <br>
                  <br>
                  <div>
                      <button>Proceed to book ticket</button>
                  </div> -->

                <!-- <ul>
                   ROW 3 START 
                  <li>
                      <button>1</button>
                    <a title="[A3]" (click)="" id="A3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a> 
                  </li>
                  <li>
                    <a title="[B3]" (click)="" id="B3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C3]" (click)="" id="C3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D3]" (click)="" id="D3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E3]" (click)="" id="E3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F3]" (click)="" id="F3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G3]" (click)="" id="G3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[H3]" (click)="" id="H3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I3]" (click)="" id="I3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul> -->

                <!-- ROW 3 COMPLETE  -->

                <!-- <ul>
                  ROW 4 START  
                  <li>
                    <a title="[A4]" (click)="" id="A4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[B4]" (click)="" id="B4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C4]" (click)="" id="C4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D4]" (click)="" id="D4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E4]" (click)="" id="E4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F4]" (click)="" id="F4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G4]" (click)="" id="G4">
                      <img src="../assets/img/bseat.png" alt="">

                    </a>
                  </li>
                  <li>
                    <a title="[H4]" (click)="" id="H4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I4]" (click)="" id="I4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul> -->

              </div>
             
            <!-- </div>
            <div *ngIf="alert"class="alert alert-danger ">You can buy only 4 seats in one time </div>
          </div>
          <div class="col-md-6 ">
          <div class="seat_plan">
            <table class="table ">
              <thead>
                <tr>
                  <th>Seats</th>
                  <th>Fare</th>
                  <th>Class</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of showSeatList">
                  <td>{{s.seatNo}}</td>
                  <td>{{s.fare}}</td>
                  <td>{{s.seatClass}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="total  bg-default">
              <b>Total: {{total}}</b>
            </div>
            <div class="row ">
              <button (click)="confirmJourney()"class="btn mt-3 ml-3 btn-primary btn-sm btn-block ">Confirm</button>
            </div> -->
          </div>
        </div>
      </div>
      </div>
    </div>
  </div><!-- <p>seatlayout works!</p> -->
<!-- <table>
    <tr>
        <td>
            Driver
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>10</button>
        </td>
    </tr>
    <tr>
        <td>
            
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>10</button>
        </td>
    </tr>
    <br>
    <br>
    <tr>
        <td>
            
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>10</button>
        </td>
    </tr>
    <tr>
        <td>
            
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>10</button>
        </td>
    </tr>
</table> -->
